
= form_with(model: user_check, local: true) do |form|
  - if user_check.errors.any?
    #error_explanation
      %h2
        = pluralize(user_check.errors.count, "error")
        prohibited this user_check from being saved:
      %ul
        - user_check.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :checks, "."
    %br/
    .check
      %table
        %tr
          %th 質問番号
          %th 質問
          %th 知らない
          %th 聞いたことがある
          %th 大体わかる
          %th 人に教えられる
          %th 後でチェック
        
        = form.fields_for :checks do |addresses_form|
          %tr        
            = addresses_form.hidden_field :content_id,value:addresses_form.index+1
            %td
              =Content.find(addresses_form.index+1).id
            %td
              = addresses_form.label :level, " #{ Content.find(addresses_form.index+1).text}"
            %label
              %td
                = addresses_form.radio_button :level, 1
              %td
                = addresses_form.radio_button :level, 2
              %td
                = addresses_form.radio_button :level, 3
              %td
                = addresses_form.radio_button :level, 4
              %td
                = addresses_form.check_box 'flag', {}, "1", "0"
    .actions
      = form.submit
  -#     %table
  -#       %tr
  -#         %td
  -#         %td 登りたい
  -#         %td どちらでもない
  -#         %td 登りたくない
  -# %tr
  -#   %td 奥穂高岳
  -#   %td
  -#     %label
  -#       %input#d10-1{:name => "d10-1", :type => "radio"}/
  -#   %td
  -#     %label
  -#       %input#d10-2{:name => "d10-1", :type => "radio"}/
  -#   %td
  -#     %label
  -#       %input#d10-2{:name => "d10-1", :type => "radio"}/
  -# %tr
  -#   %td 槍ヶ岳
  -#   %td
  -#     %label
  -#       %input#d10-4{:name => "d10-2", :type => "radio"}/
  -#   %td
  -#     %label
  -#       %input#d10-5{:name => "d10-2", :type => "radio"}/
  -#   %td
  -#     %label
  -#       %input#d10-6{:name => "d10-2", :type => "radio"}/
  -# %tr
  -#   %td 燕岳
  -#   %td
  -#     %label
  -#       %input#d10-7{:name => "d10-2", :type => "radio"}/
  -#   %td
  -#     %label
  -#       %input#d10-8{:name => "d10-2", :type => "radio"}/
  -#   %td
  -#     %label
  -#       %input#d10-9{:name => "d10-2", :type => "radio"}/




                -# %input{:name => "user_check[checks_attributes][#{addresses_form.index}][flag]", :type => "hidden", :value => "0"}/
                -# %input#user_check_checks_attributes_0_flag{:name => "user_check[checks_attributes][#{addresses_form.index}][flag]", :type => "checkbox", :value => "1"  ,"#{=checked}"}/


-# = form_with(model: user_check, local: true) do |form|
-#   -# - if user_check.errors.any?
-#   -#   #error_explanation
-#   -#     %h2
-#   -#       = pluralize(user_check.errors.count, "error")
-#   -#       prohibited this user_check from being saved:
-#   -#     %ul
-#   -#       - user_check.errors.full_messages.each do |message|
-#   -#         %li= message


-#   .field
-#     = form.label :user_id
-#     = form.number_field :user_id
-#   .field
-#     = form.label :checks, "チェックス"
-#     %br/
-#     .check
-#       = form.fields_for :checks do |addresses_form|
-#         = addresses_form.hidden_field :content_id,value: 1
-#         = addresses_form.label :level, " レベル"
-#         %label
-#           = addresses_form.label "12", 12        
-#           = addresses_form.radio_button :level, 12
-#           = addresses_form.label "13", 13        
-#           = addresses_form.radio_button :level, 13
-#       %br/
-#       %label{:for => "user_check_checks_attributes_0_flag"} フラッグ
-#       %input{:name => "user_check[checks_attributes][0][flag]", :type => "hidden", :value => "5"}/
-#       %input#user_check_checks_attributes_0_flag{:name => "user_check[checks_attributes][0][flag]", :type => "checkbox", :value => "6"}/
-#       %br/
-#   .actions
-#     = form.submit