- if @comment.errors.any?
  #error_explanation
    %h2
      = pluralize(@comment.errors.count, "error")
      prohibited this comment from being saved:
      - @comment.errors.full_messages.each do |message|
        %li= message

=@content.text
%br
-@comments.each do |comment|
  =comment.text  
  ="("+comment.user.username+"さん)"
  %br
.form
  = form_for [@content, @comment] do |f|
    = f.hidden_field :content_id,value:params[:id]
    = f.text_field :text, placeholder: 'type a message'
    = f.submit 