.user-session-box
  %h2.login-title 新規登録
  = form_for(@user, url: user_registration_path) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :ユーザーネーム
      %br/
      = f.text_field :username, autofocus: true
      - if session["devise.facebook_data"] || session["devise.google_data"]
        = f.hidden_field :password, value: password=Devise.friendly_token[0,20]
        = f.hidden_field :password_confirmation, value: password
      - else
        .field
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} 文字以上)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :パスワード（確認用）
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
    学習開始年月
    %br/
    = f.date_select( :start_date, use_month_numbers: true, prompt:  '　　---',start_year: 2000, end_year: Time.now.year, blank:'---',default: Date.new(2019, 1, 1), id:'page_updated_at_1i',discard_day: true)
    %br/
    %br/
    = f.submit "新規登録"
  .shared-links
    = render "devise/shared/links"
