.pessi
  %h2 Sign up
  = form_for(@user, url: user_registration_path) do |f|
    .field
      = f.label :email
      %br/
      
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :username
      %br/
      = f.text_field :username, autofocus: true
    .field
      - pass=Devise.friendly_token[0,20]
      = f.hidden_field :password, value: pass
      = f.hidden_field :password_confirmation, value: pass
    .actions
    学習開始年月
    %br/
    = f.date_select( :start_date, use_month_numbers: true, prompt:  '　　---',start_year: 1990, end_year: Time.now.year, blank:'---',default: Date.new(1989, 1, 1), id:'page_updated_at_1i',discard_day: true)
    %br/
    %br/
    = f.submit "Sign up"
