.about-wrapper
  .about-wrapper__contents
    %h4 このサイトについて
    当サイトは株式会社X-HACK代表の松田信介さんが考案された 
    %br/
    webエンジニア初学者に知ってほしい 関連知識のチェックシートを webサイトにしたものです。 
    %br/
    これを使って自身の知識を確認していくと 一通りの知識が入るようになっております。 
    %br/
    現在勉強されている方は 自分の不足しているスキルをチェックする用途で使用することができます。 
    %br/
    勉強を始めたばかりの方には これから学ばなければならないことの全体像の把握に使っていただければ幸いです。 
  .about-wrapper__contents
    %br/
    %h4  使い方
    %br/
    %h5 トップページ
    左下の項目一覧より、確認したい項目を選択し、回答してください。
    %br/
    その際、「後でチェック」を選択すると今後取り組みたい課題として左上に表示されます。
    %br/
    「出来る」以上を選択した質問がユーザーの習得済みスキルとしてみなされます。
    %br/
    %br/
    %h5 質問ページ
    個別の質問をクリックしていただくと質問毎の専用ページに遷移します。
    %br/ 
    コメントもできるので質問に関連するわからないことや、参考になったサイトなどをコメントいただけると幸いです。
    %br/
    コメントにはlikeボタンが実装されております、参考になったコメントには押していきましょう。
    %br/
    %br/
  
    %h5 マイページ
    全ユーザーの中での習得率の順位、獲得したメダルやトロフィーを確認できます。
    %br/
    メダル……回答に応じて獲得できます
    %br
    トロフィー……獲得したメダル数、コメント数、良いね の数に応じて獲得できます。

  .about-wrapper__contents
    %br/
    %h4 関連リンク
    = link_to  'プライバシーポリシー',privacy_policy_path
    %br/
    当サイトのプライバシーポリシーです。
    %br/
    %br/
    = link_to 'Webプログラミングスキルチェックシート(初級)','https://note.mu/xhack/n/n44867c8d247b'
    %br/
    元ネタの記事です。許可をいただいで転載しております。
    %br/
    %br
    = link_to 'X-HACK東京 - connpass','https://x-hack.connpass.com/'
    %br/
    X-HACKさんの勉強会の応募サイトです。勉強会のタイトルを眺めるだけでもどんな知識が大切なのかわかります。
    %br/
    良心的なことに現在はこれまでの勉強会の資料を無料で閲覧することもできます。参考になったら勉強会に参加しましょう。
    %br/
    %br

    = link_to 'https://twitter.com/XHACK20','https://twitter.com/XHACK20'
    %br/
    松田信介さんのTwitterアカウントです。勉強に関することやwebプログラミング全般のことなどについて呟かれていて勉強になります。
    %br/
    %br/

    = link_to 'https://twitter.com/127haruki','https://twitter.com/127haruki'
    %br/
    作者のTwitterアカウントです。アプリの使っての感想やご意見などございましたら 以下のアカウントまでご連絡ください。

    %br/

