!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webプログラミングスキルチェックシート
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :rel => "stylesheet"}/

  %body
.top-wrapper
  .flame.first
    .title
      WEB PROGRAMMING        
      %br/
      SKILL CHECK SHEET
      .subtitle
        初心者webエンジニアのためのスキルチェックシート
  .flame.second
    .content
      .title
        初めてwebプログラミングを勉強するのは難しい
    %br/
    新しい技術であるため教材が洗練されていない
    %br/
    %br/
    ーーーhttp、www、セキュリティ、DBーーー
    %br/
    周辺知識が多く何をやったらいいかわからない
    %br/
    %br/
    スクールに通った方がいいの？独学がいいの？
    %br/
    %br/
    .inpact
      web programming skill check sheetが解決します
  .flame.third
    .title
      web programming skill check sheet
    %br 
    そんな初学者の悩みを解決するため
    %br 
    .top-link
      = link_to 'https://twitter.com/XHACK20', method: :get  do
        株式会社X-HACK代表の松田さん
      は
    webエンジニア初学者に知ってほしい
    %br 
    関連知識のチェックシートを考案しました。
    %br 
    %br/
    当サイトはそのチェックシートを
    %br/
    webサイトにしたものです。
    %br 
    %br/
    これを使って自身の知識を確認していくと
    %br/
    一通りの知識が入るようになっております。
  .flame.fourth
    .content
      %br/
      現在勉強されている方は
      %br/
      自分の不足しているスキルをチェックする用途で使用することができます。
      %br/
      %br/
      勉強を始めたばかりの方には
      %br/
      これから学ばなければならないことの全体像の把握に使っていただければ幸いです。
      %br/
      %br/
      %br/
      .last-notice
        暗記する必要のある項目は少ない
        %br/
        調べながらでも構わないので
        %br/
        ドンドンチェックして行きましょう！
        = link_to new_user_session_path, method: :get  do
          .signup
            新規登録
        = link_to new_user_registration_path, method: :get  do
          .login
            ログイン
  %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

    .footer