.jumbotron.jumbotron-fluid.bg-secondary
  .container
    %h1.display-7 キシリトールさんのマイページ
    %p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.
.container
  .row
    .col-6.bg-info
      %h1.display-8 ランキング
      %h1.display-4 ５位くらい
      %br/
      
      
    .col-6.bg-danger
      %h1.display-8 勉強開始時期
      %h1.display-4 ２０１８年１１月
      %br/
      


.jumbotron.jumbotron-fluid.bg-success
  .container
    %h1.display-4 取得済スキル：１０個
    %p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.
    %br/
    .progress{:style => "height: 50px;"}
      .progress-bar{:role => "progressbar", :style => "width: 60%;"}
        60%

.jumbotron.jumbotron-fluid.bg-info
  .container
    %h1.display-4 取得済スキル：１０個
    %p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.
    %br/
    .progress{:style => "height: 50px;"}
      .progress-bar{:role => "progressbar", :style => "width: 60%;"}
        60%
.jumbotron.jumbotron-fluid.bg-secondary
  .container
    %h1.display-7 トロフィー獲得状況
    %p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.

.container
  .row
    
    .col-xs-6.col-sm-4.col-md-3.bg-success

      %okodkoddod
      %br/
      %br/
      each
    .col-xs-6.col-sm-4.col-md-3.bg-warning

      %okodkoddod
      %br/
      %br/
      = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'
    .col-xs-6.col-sm-4.col-md-3

      %okodkoddod
      %br/
      %br/
      = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'
    .col-xs-6.col-sm-4.col-md-3

      %okodkoddod
      %br/
      %br/
      = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'

    .col-xs-6.col-sm-4.col-md-3.bg-warning
      %okodkoddod
      %br/
      %br/
      = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'
      %br/

    .col-xs-6.col-sm-4.col-md-3.bg-warning
      %okodkoddod
      %br/
      %br/
      = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'
      %br/

    .col-xs-6.col-sm-4.col-md-3.bg-warning
      %okodkoddod
      %br/
      %br/
      = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'
      %br/

    .col-xs-6.col-sm-4.col-md-3.bg-warning
      %okodkoddod
      %br/
      %br/
      = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'
      %br/
      
.jumbotron.jumbotron-fluid.bg-secondary
  .container
    %h1.display-7 メダル獲得状況
    %p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.
.container
  .row
    

    - @genres.each do |genre|
      .col-6.bg-success
        = link_to genre.name,genre_path(genre.id)   
        = genre.contents.length
        問中
        -if user_signed_in?
          -if current_user.user_checks.find_by(genre_id:genre.id).present?
            =current_user.user_checks.find_by(genre_id:genre.id).checks.where(["level > ? ", 2]).length 
            問は理解しています
          -else
            未実施です
        %br        
        %br        
        = image_tag '001.png', :alt => '登録ボタン',:size =>'160x240'