.mypage-wrapper
  .jumbotron.jumbotron-fluid.user-name
    .container
      %h1.display-7 
        =@user.username
        さんのマイページ
      %p.lead 取得したトロフィーの数などが確認できます
  .container
    .row
      .col-sm-12.col-lg-6.ranking
        %h1.display-8 ランキング
        %h1.display-4 
          = User.order(rank: :DESC).index(@user) + 1
          位
          /
          = User.all.length
          人中
        %br/
      .col-sm-12.col-lg-6.start-date
        %h1.display-8 勉強開始時期
        %h1.display-4 
        .study_start
          =@user.start_date.year
          年
          =@user.start_date.month
          月
        %br/
  .jumbotron.jumbotron-fluid.title-medal
    .container
      %h1.display-7 メダル獲得状況
      %p.lead 出来るを選択したチェック項目を習得したものと見なし、数に応じてメダルを獲得することができます。
  .container
    .row
      - user_checked_cnt_all=[] 
      - @genres.each do |genre|
        .col-sm-12.col-lg-6.checkmedal
          
          = link_to genre.id.to_s+"."+genre.name,genre_path(genre.id) 
          
          = genre.contents.length
          問中


          - if User.find(params[:id]).user_checks.find_by(genre_id:genre.id).present?
          
            - user_checked_cnt=User.find(params[:id]).user_checks.find_by(genre_id:genre.id).checks.where(["level > ? ", 2]).length 
            - user_checked_cnt_all << user_checked_cnt
            = user_checked_cnt
            問出来る
            - case user_checked_cnt/genre.contents.length.to_f
              - when 1
                = image_tag Trophy.find(3).image_url, :alt => '登録ボタン',:size =>'100x100'
              - when (0.8...1)
                = image_tag Trophy.find(2).image_url, :alt => '登録ボタン',:size =>'100x100'
              - when (0.5...0.8)
                = image_tag Trophy.find(1).image_url, :alt => '登録ボタン',:size =>'100x100'
          - else
            未実施です
  .jumbotron.jumbotron-fluid.title-skill
    .container
      %h1.display-4 
        取得済スキル：
        = user_checked_cnt_all.compact.sum.to_s+"個/"
        = Content.all.length.to_s+"個" 
      %br/
      .progress{:style => "height: 50px;"}
        .progress-bar{:role => "progressbar", :style => "width: #{(user_checked_cnt_all.compact.sum/Content.all.length.to_f*100).floor}%;"}
  .jumbotron.jumbotron-fluid.title-trophy
    .container
      %h1.display-7 トロフィー獲得状況
      %p.lead コメント数、メダル数やいいねの数に応じてトロフィーが表示されます。
  .container
    .row
      - @trophys.each do|trophy| 
        .col-xs-12.col-sm-12.col-md-6.col-lg-3.trophy
          #trophy-box
            %br/
            .trophyname
              = trophy.name
            %br/
            .trophyimage
              = image_tag trophy.image_url, :alt => '登録ボタン',:size =>'100x100'
            %br/
            .trophytext
              = trophy.text
      .col-xs-12.col-sm-12.col-md-6.col-lg-3.trophy
      .col-xs-12.col-sm-12.col-md-6.col-lg-3.trophy
      .col-xs-12.col-sm-12.col-md-6.col-lg-3.trophy
      .col-xs-12.col-sm-12.col-md-6.col-lg-3.trophy
  .jumbotron.jumbotron-fluid.title-got-trophy
    .container
      %h1.display-4 
        取得済トロフィー：
        = @trophys.length.to_s+"個/"
        = "10個" 
      %br/
      .progress{:style => "height: 50px;"}
        .progress-bar.trophy-bar{:role => "progressbar", :style => "width: #{(@trophys.length/10.to_f*100).floor}%;"}