!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webプログラミングスキルチェックシート
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :rel => "stylesheet"}/

  %body
  .wrapper
    .chat-side
      .chat-side--header
        -if user_signed_in?
          = link_to user_path(current_user.id)  do
            Web programing skill check test
        -else
          = link_to root_path  do
            Web programing skill check test
      .groups
        .label
          取り組みたい課題
        .todo
          -if @todo_contents.present?
            -@todo_contents.each do |content| 
              #todo_link
                -link_title=content.text+"("+ content.genre.name + ")"
                =link_to link_title,content_path(content.id)  
                %br/
        .contents    
          .label
            項目一覧（習得率）
          .list      
            -user_checked_cnt_all=[] 
            - @genres.each.with_index do |genre,i|
              #content
                = link_to genre_path(genre.id) do
                  =i+1  
                  ．
                  =genre.name   
                = genre.contents.length
                問中
                -if user_signed_in?
                  -if current_user.user_checks.find_by(genre_id:genre.id).present?
                    -user_checked_cnt=current_user.user_checks.find_by(genre_id:genre.id).checks.where(["level > ? ", 2]).length 
                    =user_checked_cnt
                    問は理解しています
                  -else
                    未実施です
                - user_checked_cnt_all << user_checked_cnt
                %br        
            %n
            %n
            %n            
            合計：１８５問中
            =user_checked_cnt_all.compact!.sum
            問習得済み
            %br 
            %br 
    .chat-main
      .header
        %ul.lists
          %li.list 
            = link_to contents_path  do
              %span{:style => "color: Tomato;"}
                %i.fas.fa-home
              問題一覧
          %li.list 
            = link_to destroy_user_session_path , method: :delete do
              %span{:style => "color: Dodgerblue;"}
                %i.fas.fa-question-circle
              about
          -if user_signed_in?
            %li.list 
              = link_to user_path(current_user.id)  do
                %span{:style => "color: Mediumslateblue;"}
                  %i.fas.fa-address-card 
                マイページ
            %li.list
              = link_to destroy_user_session_path , method: :delete do
                %span{:style => "color: Tomato;"}
                  %i.fas.fa-sign-out-alt 
                ログアウト                
          -else
            %li.list 
              = link_to new_user_session_path, method: :get  do
                %span{:style => "color: Mediumslateblue;"}
                  %i.fas.fa-sign-out-alt 
                ログイン
            %li.list 
              = link_to new_user_registration_path, method: :get  do
                %span{:style => "color: Mediumslateblue;"}
                  %i.fas.fa-sign-out-alt 
                新規登録       

      .messages
        = yield
      %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
      %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
      %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

  .footer
    -# %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    -# %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    -#   %a.navbar-brand{:href => "/"} Web programing skill check test
    -#   %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    -#     %span.navbar-toggler-icon
    -#   #navbarSupportedContent.collapse.navbar-collapse
    -#     %ul.navbar-nav.mr-auto
    -#     %ul.navbar-nav
    -#       -if user_signed_in?
    -#         %li.nav-item
    -#           %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} 
    -#             ="こんにちは"+current_user.username+"さん"   
    -#         %li.nav-item        
    -#           %a.nav-link{:href => "#"} マイページ
    -#         %li.nav-item
    -#           = link_to "問題一覧",user_checks_path, method: :get ,class:"nav-link",data: {"turbolinks" => false}              
    -#         %li.nav-item
    -#           = link_to "チェックする",new_user_check_path, method: :get ,class:"nav-link",data: {"turbolinks" => false}     
    -#         %li.nav-item
    -#           = link_to "ログアウト",destroy_user_session_path , method: :delete ,class:"nav-link"                  
    -#         %li.nav-item.dropdown
    -#           %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    -#       -else

    -#         %li.nav-item
    -#           = link_to "ログイン",new_user_session_path, method: :get ,class:"nav-link"
    -#         %li.nav-item
    -#           = link_to "会員登録",new_user_registration_path, method: :get ,class:"nav-link"
    -#       %li.nav-item
    -#         %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
    
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

